

.logoimg{
  width:60px;
  height: 35px;
}
 .ul{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
  display: flex;
  padding: 10px;
 }
 .li{
list-style: none;
margin: auto;

 }

 .a1{
  text-decoration: none;
  font-size:16px;
  font-weight: 600;
  color:#282c3f;
  letter-spacing: normal;
  text-align: start;
  padding-bottom: 10px;
  border-bottom:3px solid white;

  transition:1s;
 }
 .a1:hover{
  border-bottom: 3px solid rgb(249, 4, 37);
  color:#282c3f;
  font-size:16px;
  font-weight: 600;
 }


 .input{
  width:340px;
  height: 40px;
 
outline: none;
 }

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left:-35px;
}


.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.img3{
  width: 20px;
  height: 20px;
}
.img3M{
  width: 20px;
  height: 20px;
  display: none;
}
.li3{
  display: flex;
flex-direction: column;
align-items: center;
}

.dropdownitems{

margin-inline: 20px;
}


.dropdown-content {
  display: none;
  position: absolute;
  left: -80px;
  margin-top:12px;
  background-color:white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 6px;
z-index: 5;

}

.dropdown:hover .dropdown-content {
  display: block;

}
 a{
  text-decoration: none;
  color:grey;
 font-size: 14px;
}
a:hover{
  text-decoration: none;
  color:black;
  font-weight:500;
}

.studiologo{
  width:50px;
  height:50px;
margin-left: 150px;
}
.line{
  display: flex;
  margin: auto;
}
.expbtn{
margin-top: 10px;
padding: 10px;
border: 0px solid lightgrey;
background-color: aliceblue;
}
.studio{
text-align: center;
}
.studioimg{

height: 300px;
}

.h6-1{
  color: red;
}
.h6-2{
  color:rgb(252, 8, 158);
}
.h6-3{
  color:orange;
}
.h6-4{
  color:rgb(161, 164, 3);
}
.h6-5{
  color:rgb(3, 141, 120);
}
#offcanvas{
  display: none;

}
#offcanvasExample{
  width:250px;
}

.ul5{
  display: flex;
}
b{
  color:#ff3c6f;
}
#btncont{
  background-color:#ff3c6f;
  width: 100%;
}
h5{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.lif{
  list-style: none;
}







@media (min-width:500px){
  #losi{
    margin: auto;
width: 50%;
  }
}

@media (max-width:1000px){
  .dropdown{
    display: none;
  }
#wishlist{
  display: none;
}
#bag{
  display: none;
}
input{
  display: none;
}
#offcanvas{
  display:block;
 display: inline;
}
.logoimg{
  width:40px;
  height: 25px;
}
.img3M{
  width: 20px;
  height: 20px;
  display:block;
}
.img3{

  display:none;
}
}
